.section {
    padding-top: 40px;
    padding-bottom: 40px;

    @media screen and (min-width: 480px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }


    &__title {
        text-align: center;
        color: var(--secendary-text-color);
        margin-bottom: 20px;

        @media screen and (min-width: 480px) {
            font-size: 28px;
            line-height: 1.18;
            margin-bottom: 30px;
        }

        @media screen and (min-width: 1200px) {
            font-size: 36px;
            line-height: 1.16;
            margin-bottom: 50px;
        }
    }
}


.section.bg {
    background-color: #F5F4FA;
    // background-color: var(--section-icon-bg-color);
}

.section.no-padding {
    padding-top: 0;

    @media screen and (max-width: 1199px) {
        display: none;
    }
}