/* Button */
.button {
    cursor: pointer;
    border-style: none;
}

/* Button "Заказасть услугу" */
.hero__button {
    display: inline-block;
    padding: 10px 32px;
    min-width: 200px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;

    color: var(--white-main-color);
    background-color: var(--main-accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background: var(--secendary-accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}


/* Кнопки Портфолио */
.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    &__button {
        padding: 6px 22px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0.03em;
        color: var(--secendary-text-color);
        background-color: var(--section-icon-bg-color);
        border-radius: 4px;
        transition: var(--transition);

        &:hover,
        &:focus {
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
            background-color: var(--main-accent-color);
            color: #fff
        }
    }

    &__item:not(:last-child) {
        margin-right: 8px;
    }
}


// Кнопка "Подписаться" в футере
.form-follower__button {
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--white-main-color);
    background-color: var(--main-accent-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}

.form-follower__button:hover,
.form-follower__button:focus {
    background-color: var(--secendary-accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

// Кнопка модалки
.form-modal__button {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--white-main-color);
    background-color: var(--main-accent-color);
    border-radius: 4px;
    transition: var(--transition);
}

.form-modal__button:hover,
.form-modal__button:focus {
    background: var(--secendary-accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}