.footer {
    background-color: var(--hero-footer-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--white-main-color);
    margin-bottom: 20px;
    display: inline-block;
}

.address-list {
    &__link {
        display: inline-block;
        font-style: normal;
        color: rgba(255, 255, 255, 0.6);
        padding: 0;
        transition: var(--transition);
    }

    &__link--white {
        color: var(--white-main-color)
    }

    &__item:not(:last-child) {
        margin-bottom: 9px;
    }
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer-item {
    margin-right: 70px;
}

.footer-item .soc-item {
    border-radius: 50%;
    color: var(--white-main-color);
    background-color: rgba(255, 255, 255, 0.1);
}

.footer__title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-main-color);
    margin-bottom: 20px;
}

.form-follower {
    display: flex;
    align-items: end;
    margin-left: auto;

    &__title {
        font-size: 14px;
        line-height: 1.14px;
        text-transform: uppercase;
        color: var(--white-main-color);
        margin-bottom: 20px;
    }

    &__icon {
        fill: currentColor;
        margin-left: 10px;
    }

}

.email {
    Width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    margin-right: 12px;
    padding-left: 16px;
    background-color: transparent;
    color: var(--white-main-color);
    outline: none;
    transition: var(--transition);

    &:hover,
    &:focus {
        border: 1px solid rgba(255, 255, 255, 0.7);
    }
}