.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: url(../images/Mob-Header.jpg), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    background-color: var(--hero-footer-bg-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;


    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/Mob-Header@2x.jpg),
            linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    }

    @media screen and (min-width: 480px) {
        background-image: url(../images/tablet-header.jpg), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
        ;


        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/tablet-Header@2x.jpg), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
        }

    }

    @media screen and (min-width: 1200px) {
        background-image: url(../images/desk-header.jpg), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
        ;
        padding-top: 200px;
        padding-bottom: 200px;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/desk-header@2x.jpg), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
        }

    }

}

.hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    margin-right: auto;
    margin-left: auto;
    max-width: 360px;
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: var(--secendary-text-color);
    color: var(--white-main-color);

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.4;
        max-width: 696px;
    }

}