.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/Header.jpg);
    background-color: var(--hero-footer-bg-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */

    height: 600px;
    max-width: 1600px;

    margin: 0 auto;
    text-align: center;
}

.hero__title {
    max-width: 696px;
    margin-right: auto;
    margin-left: auto;

    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;

    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--secendary-text-color);
    color: var(--white-main-color);
}