.soc-list {
    @include centeredFlex(flex);
}

.soc-item:not(:last-child) {
    margin-right: 10px;
}

.soc-item__link {
    width: 44px;
    height: 44px;
    @include centeredFlex(flex);
    border-radius: 50% 50%;
    transition: var(--transition);

    &:hover,
    &:focus {
        color: var(--white-main-color);
        background-color: var(--main-accent-color);
    }

    &:hover .soc-item__icon,
    &:focus .soc-item__icon {
        fill: var(--white-main-color);
    }
}

.soc-item__icon {
    fill: #AFB1B8;
    transition: var(--transition);
}

.soc-item__icon--white {
    fill: #fff;
}

/* header nav-contact */
.contacts__icon {
    fill: currentColor
}