.section {
    padding-top: 94px;
    padding-bottom: 94px;

    &__title {
        font-size: 36px;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 50px;
        color: var(--secendary-text-color);
    }
}


// стил для сбро падингов в секции возможно перенести в другой паршел
.section.no-padding {
    padding-top: 0;
}

.features-list {
    display: flex;

    &__item {
        width: calc((100% - 90px) / 4);
        margin-right: 30px;
    }

    &__item:last-child {
        margin-right: 0px;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.1;
        text-transform: uppercase;
        color: var(--secendary-text-color)
    }

    &__link {
        @include centeredFlex(flex);
        width: 270px;
        height: 120px;
        background: var(--section-icon-bg-color);
        border-radius: 4px;
        margin-bottom: 30px;
    }

    // Проверить
    &__icon {
        fill: currentColor;
    }
}

// Чем мы занимаемся
.work-list {
    display: flex;

    &__item {
        display: flex;
        align-items: flex-end;
        position: relative;
        margin-right: 30px;
    }

    &__item:last-child {
        margin-right: 0px;
    }
}

.work-label {
    padding: 27px;
    position: absolute;
    width: 370px;
    background: rgba(47, 48, 58, 0.8);
    text-align: center;

    &__text {
        font-weight: 700;
        text-transform: uppercase;

        color: var(--white-main-color);
    }
}

.section.bg {
    background-color: var(--section-icon-bg-color);
}

// Наша команда
.team-list {
    display: flex;
    margin-bottom: 0px;

    &__item {
        margin-right: 30px;

        background-color: var(--white-main-color);

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 10px;

        font-weight: 500;
        font-size: 16px;
        text-align: center;

        color: var(--secendary-text-color);
    }

    &__text {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
    }
}

// Постоянные клиенты

.client-title {
    display: flex;
    justify-content: center;
}

.client-item {
    width: 170px;
    height: 92px;

    &:not(:last-child) {
        margin-right: 30px;
    }

    &__link {
        @include centeredFlex(flex);
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        color: #AFB1B8;
        width: 100%;
        height: 100%;
        fill: currentColor;
        transition: var(--transition);

        &:hover,
        &:focus {
            color: var(--main-accent-color);
            border-color: var(--main-accent-color);
        }
    }
}

// Текст под карточками "Наша команда"

.container-text {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}